# Don't use quotes( " and ' )

API_ID=34014685
API_HASH=8338ff574f4bb0ae39bdec6da3ce949c
SESSION=BQHLghgAKEwr0kn7NajZTg0SCK0eeobu68bnopifDuuFU1PYM2tNnKKVzVYjnzKvZ_3G5qiTGc-Xqm_ycoVQwM9p08Z1gNisBeq_uM0MfvNkL7-qAbRVglez2SIALYnrXrZzYCGVyVfLzAO8MVv34X4AbVWoCoBjWQkBwcfr5H_8BwOwIpTy8EyJf17PzGtMt2LbgroPF8WJZGel_oFNDX-zqVDpizXl_Msfynw7-PXXmWAdJgP_CgLejmd6jnK9DM7c713CH4SWn4RPXPW0FXW28Mu-y5Bd-V02f8AKIs-_-nyZfiwXyK889luuM0ByZUPqZTFRJAeMxRBOZix9YF5PEPnRaAAAAAIF9SlMAA


# [OPTIONAL]

REDIS_URI=
REDIS_PASSWORD=
LOG_CHANNEL=-1003652335101
BOT_TOKEN=8957373122:AAHoazCxZbEmSNpT4xnyntLGqI8ZQXnaaTU
